hardware/KiCad/shematic1/.history/
hardware/projects/KiCad/**/.history/
hardware/projects/fpgapcb/.history/
hardware/fpgapcb/.history/
hardware/project/fpgapcb/~link.kicad_pro.lck
hardware/project/fpgapcb/~link.kicad_sch.lck
hardware/projects/fpgapcb/~link.kicad_pro.lck
hardware/projects/fpgapcb/~link.kicad_sch.lck
